In [3]:
import pandas as pd
import numpy as np
import geopandas
%matplotlib inline

In [17]:
rec = pd.read_csv("City of Pittsburgh Playing Fields.csv", index_col = "id")
numrec = rec.groupby('neighborhood').count()
playground = pd.read_csv("Playgrounds.csv")
play = playground.groupby('neighborhood').count()
recreation = pd.concat([numrec, play])
court = pd.read_csv("Courts and Rinks.csv")
court = court.groupby('neighborhood').count()
recreation = pd.concat([recreation, court])['park']
recreation = pd.DataFrame(recreation)
recreation = recreation.groupby('neighborhood').sum()
rec = recreation.sort_values(by=['park'], ascending=False)
rec

                     park
neighborhood
Squirrel Hill South    39
Highland Park          28
Hazelwood              17
South Side Slopes      17
Brookline              17
...                   ...
Homewood South          1
Homewood North          1
West Oakland            1
Esplen                  1
East Allegheny          0

[72 rows x 1 columns]

In [36]:
ranks = {}
counter = 1
for index,row in rec.iterrows():
    ranks[index]= counter
    counter = counter + 1
ranks = ranks.items()
column = ["neighborhood","parkrank"]
ranks = pd.DataFrame(ranks, columns)
ranks

                      0   1
0   Squirrel Hill South   1
1         Highland Park   2
2             Hazelwood   3
3     South Side Slopes   4
4             Brookline   5
..                  ...  ..
67       Homewood South  68
68       Homewood North  69
69         West Oakland  70
70               Esplen  71
71       East Allegheny  72

[72 rows x 2 columns]

In [4]:
Arrest = pd.read_csv("Arrest in Pittsburgh.csv")

In [5]:
Arrest['INCIDENTNEIGHBORHOOD'].value_counts()

South Side Flats             482
Central Business District    369
East Allegheny               293
Carrick                      248
East Liberty                 197
                            ...
Chartiers City                 5
Ridgemont                      4
New Homestead                  3
Swisshelm Park                 3
Mt. Oliver Neighborhood        2
Name: INCIDENTNEIGHBORHOOD, Length: 97, dtype: int64